.search-bar {
    position: absolute;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #af4c91;
    color: white;
    border: none;
    border-radius: 10 5px 5px 0;
  }
  
  .search-bar button i {
    font-size: 18px;
  }
 
  .carousel-item img {
    width: 5%;
    height: 10%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  navbarNav {
    background-color: #751717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-link {
    color: #fff;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  .nav-dropdown {
    position: relative;
  }
  
  .nav-dropdown-menu {
    background-color: #333;
    border: 1px solid #444;
    display: none;
    left: 0;
    padding: 0.5rem 0;
    position: absolute;
    top: 100%;
    width: 100